<h1>Categories</h1>

#foreach($category in $categories)
 <h4><a href="/categories/$category.getId()">$category.getName()</a></h4><br>
#end

<br>
<a href="/categories/new">Add a new category</a>
<br>
<a href="/categories">View all categories</a><br>
